@{
    ViewData["Title"] = "Home";
}

<!-- Start Header Section -->
    <div class="banner">
        <div class="overlay">
            <div class="container">
                <div class="intro-text">
                    <h1>Hello! I Am <span>TANNER MILLER!</span></h1>
                    <p>A creative individual gaining the knowledge it takes <br> to become a successful Web Developer</p>
                    <a href="#feature" class="page-scroll btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Section -->

        <!-- Start About Us Section -->
    <section id="about-section" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center wow fadeInDown" data-wow-duration="2s" data-wow-delay="50ms">
                        <h2 id="feature">About Me</h2>
                    </div>                        
                </div>
            </div>
            <div class="row">
               <div class="col-md-5">
                   <div class="about-img">
                       <img src="asset/images/team/team-7.jpg" class="img-responsive" alt="Tanner Miler Photo">
                       @*<div class="head-text">
                           <p>"Enter reccomendation quote from previous manager</p>
                           <span>CEO, Manager</span>
                       </div>*@
                   </div>
               </div>
               <div class="col-md-7">
                   <div class="about-text">
                       <p>I am a student at Centriq studying Full Stack Web Development! I want to pursue a career in this field because I got the mindset it takes to become a successful developer. I started out by working at Hy-Vee as a courtesy clerk at the grocery store. I was able to quickly move up and become a cashier within a few months of being there. After a few more months of being a cashier, I was asked to be a shift manager but denied the position because I was in school as a full-time student. As a cashier, I was trained at customer service because I took good care of our customers, and later got moved to the gas station.</p>
                       <p>While being at the gas station, there was usually not a manager on duty while I was working. I had to make manager-like decisions and make sure all duties were completed. The managers complimented me on always making sure I took good care of our customers. I was eager to learn more and wanted more for myself so I came to Centriq to start a career in Web Development.</p>
                   </div>
                   
                   <div class="about-list">
                       <h4>Important Qualities</h4>
                       <ul>
                           <li><i class="fa fa-check-square"></i>I am creative and took drawing, painting, graphic design, and cermaics to perfect my craft.</li>
                           <li><i class="fa fa-check-square"></i>I graduated from MCCKC Longview with a Business major.</li>
                           <li><i class="fa fa-check-square"></i>Customer service is one of my strong suits and I can guarentee customers are satisfied during & after the transactions.</li>
                           <li><i class="fa fa-check-square"></i>I grew up playing soccer and work well with a team.</li>
                           <li><i class="fa fa-check-square"></i>Video games were my hobby before finding coding. I want to be the best at whatever I do and have a hard work ethic to achieve that.</li>
                           <li><i class="fa fa-check-square"></i>Working on projects for long periods of time is something I am used to doing from creating art.</li>
                           <li><i class="fa fa-check-square"></i>I have lots of patienece that I am able to use when learning new things as well as understanding people!</li>
                       </ul>
                                  
                   </div>  
               </div>
            </div>
        </div>
    </section>
        
        
        <!-- Start Call to Action Section -->
    <section class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow zoomIn" data-wow-duration="2s" data-wow-delay="300ms">
                    <p>I am learning Full Stack Web Development to make a<br>career for myself that I enjoy and can be passionate about.<br>More importantly, I'd love to satisfy any expectations of a customer.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Call to Action Section -->
