@{
    ViewData["Title"] = "Links";
}

        <!-- Start Header Section -->
        <div class="page-header">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Meet My Classmates</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Section -->
        
        

        <!-- Start Team Member Section -->
        <section id="team-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center wow fadeInDown" data-wow-duration="2s" data-wow-delay="50ms">
                            <h2>My Team</h2>
                            <p>Centriq Graduates with links to their work.</p>
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="300ms">
                        <div class="team-member">
                            <img src="/asset/images/team/team-5.jpg" class="img-responsive" alt="Josuha Christian">
                            <div class="team-details">
                                <h4>Joshua Christian</h4>
                                <p>Centriq Graduate, 2022</p>
                                <ul>
                                    <li><a href="http://joshdchristian13.com" target="_blank"><i class="fa fa-link"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/joshua-christian-a260aaba/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="600ms">
                        <div class="team-member">
                            <img src="/asset/images/team/team-6.jpg" class="img-responsive" alt="Derek Holland">
                            <div class="team-details">
                                <h4>Derek Holland</h4>
                                <p>Centriq Graduate, 2022</p>
                                <ul>
                                    <li><a href="http://www.derek-holland.com/" target="_blank"><i class="fa fa-link"></i></a></li>
                                    <li><a href="http://www.linkedin.com/in/derek-holland09" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="900ms">
                        <div class="team-member">
                            <img src="/asset/images/team/team-8.jpg" class="img-responsive" alt="Jonathan Pedroza">
                            <div class="team-details">
                                <h4>Jonathan Pedroza</h4>
                                <p>Centriq Graduate, 2022</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1200ms">
                        <div class="team-member">
                            <img src="/asset/images/team/team-9.jpg" class="img-responsive" alt="David Sleezer">
                            <div class="team-details">
                                <h4>David Sleezer</h4>
                                <p>Centriq Graduate, 2022</p>
                                <ul>
                                    <li><a href="http://david-sleezer.com/" target="_blank"><i class="fa fa-link"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/david-sleezer/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="600ms">
                        <div class="team-member">
                            <img src="/asset/images/team/team-10.jpg" class="img-responsive" alt="Lance Johnson">
                            <div class="team-details">
                                <h4>Lance Johnson</h4>
                                <p>Centriq Graduate, 2022</p>
                                <ul>
                                    <li><a href="http://www.lance-johnson.com/" target="_blank"><i class="fa fa-link"></i></a></li>
                                    <li><a href="http://www.linkedin.com/in/lance-johnson-ljohpy" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="600ms">
                        <div class="team-member">
                            <img src="/asset/images/team/team-11.jpg" class="img-responsive" alt="Sarra Tavakoli">
                            <div class="team-details">
                                <h4>Sarra Tavakoli</h4>
                                <p>Centriq Graduate, 2022</p>
                                <ul>
                                    <li><a href="http://stavakoli.net/" target="_blank"><i class="fa fa-link"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/sarratavakoli/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.col-md-3 -->
                    <!-- <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="600ms">
                        <div class="team-member">
                            <img src="/asset/images/team/team-12.jpeg" class="img-responsive" alt="Dawson Meier">
                            <div class="team-details">
                                <h4>Dawson Meier</h4>
                                <p>Centriq Graduate, 2022</p>
                                <ul>
                                    <li><a href="https://www.dawsonmeierdev.com" target="_blank"><i class="fa fa-link"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>/.col-md-3 -->
                    <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="600ms">
                        <div class="team-member">
                            <img src="/asset/images/team/team-13.jpg" class="img-responsive" alt="Roan Leffew">
                            <div class="team-details">
                                <h4>Roan Leffew</h4>
                                <p>Centriq Graduate, 2022</p>
                                <ul>
                                    <li><a href="http://www.rolecoded.com/" target="_blank"><i class="fa fa-link"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/roan-leffew-2460b0238/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.col-md-3 -->
                </div>
            </div>
        </section>
        <!-- End Team Member Section -->