@{
    ViewData["Title"] = "Resume";
}

        <!-- Start Header Section -->
        <div class="page-header">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>My Resume</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Section -->
        
        
       <!-- Start Service Section -->
       <section id="service-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="services-post">
                        <a href="#"><i class="fa fa-desktop"></i></a>
                        <h2>FULL-STACK WEB APPLICATION DESIGN</h2>
                        <p>Studying at Centriq Training for 4 months and learning multiple languages and skills.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="services-post">
                        <a href="#"><i class="fa fa-building"></i></a>
                        <h2>.NET CORE MVC FRAMEWORK</h2>
                        <p>Using a cross-platform and modular framework to run test code. </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="services-post">
                        <a href="#"><i class="fa fa-bookmark"></i></a>
                        <h2>C#, HTML, CSS, JS, SQL, REACT FUNDAMENTALS</h2>
                        <p>Learned and applied the fundamentals of these languages with projects showing my 
                            understanding (linked on Projects). </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="services-post">
                        <a href="#"><i class="fa fa-code-fork"></i></a>
                        <h2>SOURCE CONTROL</h2>
                        <p>Learned basics of Source Control and branching as well as Seperation of Concerns. </p>
                    </div>
                </div>
           
            </div>
        </div>
    </section>
    <!-- End Service Section -->


            <!-- Start Call to Action Section -->
            <section class="call-to-action">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 wow zoomIn" data-wow-duration="2s" data-wow-delay="300ms">
                            <p>"Success is not final, failure is not fatal:<br> it is the courage to continue that counts."<br>- Winston Churchill.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Call to Action Section -->


        
        <!-- Start About-section 2 -->
        <section id="about-section-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                   <div class="about-text">
                       <p>Skills:</p>
                   </div>
                   
                   <div class="skill-shortcode">
                        
                        <!-- Progress Bar -->
                        <div class="skill">
                            <p>Problem Solving</p>          
                            <div class="progress">         
                                <div class="progress-bar" role="progressbar"  data-percentage="80">
                                    <span class="progress-bar-span" >80%</span>
                                    <span class="sr-only">80% Complete</span>
                                </div>
                            </div>  
                        </div>
                        
                        <!-- Progress Bar -->
                        <div class="skill">
                            <p>Attention To Detail</p>          
                            <div class="progress">         
                                <div class="progress-bar" role="progressbar"  data-percentage="95">
                                    <span class="progress-bar-span" >95%</span>
                                    <span class="sr-only">95% Complete</span>
                                </div>
                            </div>  
                        </div>
                        
                        <!-- Progress Bar -->
                        <div class="skill">
                            <p>Curiosity</p>          
                            <div class="progress">         
                                <div class="progress-bar" role="progressbar"  data-percentage="90">
                                    <span class="progress-bar-span" >90%</span>
                                    <span class="sr-only">90% Complete</span>
                                </div>
                            </div>  
                        </div>
                        
                        <!-- Progress Bar -->
                        <div class="skill">
                            <p>Patience</p>          
                            <div class="progress">         
                                <div class="progress-bar" role="progressbar"  data-percentage="100">
                                    <span class="progress-bar-span" >100%</span>
                                    <span class="sr-only">100% Complete</span>
                                </div>
                            </div>  
                        </div>
                        
                        <!-- Progress Bar -->
                        <div class="skill">
                            <p>Teamwork</p>          
                            <div class="progress">         
                                <div class="progress-bar" role="progressbar"  data-percentage="90">
                                    <span class="progress-bar-span" >90%</span>
                                    <span class="sr-only">90% Complete</span>
                                </div>
                            </div>  
                        </div>
                                                            
                    </div>
                   
               </div>
                <div class="col-md-6 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="300ms">
                    
                    <!-- Start Accordion Section -->
                    <div class="panel-group" id="accordion">

                        <!-- Start Accordion 1 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" class="collapsed">
                                        <i class="fa fa-angle-left control-icon"></i> Who I Am
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    I am a creative individual that works well with a team and can be independent. I want to be able to create something that others can engage in and feel attached to because I know their business and customers' are their passion. Taking lots of art classes in school has made me realize how much of it relates to coding. I have a high attention to detail and make sure I can be proud of the work I have completed.
                                </div>								
                            </div>
                        </div>
                        <!-- End Accordion 1 -->

                        <!-- Start Accordion 2 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" class="collapsed">
                                        <i class="fa fa-angle-left control-icon"></i> What I Do
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    I enjoy learning and being the best I can be which is why I have an extensive love for coding, since there are always new things you can learn to perfect your craft. I make sure I am doing whatever it takes to keep growing my success. If I am not coding, I will be gaming, going outside to enjoy longboarding, or watching sports.
                                </div>								
                            </div>
                        </div>
                        <!-- End Accordion 2 -->
                        
                        <!-- Start Accordion 3 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-3" class="collapsed">
                                        <i class="fa fa-angle-left control-icon"></i> My Goal
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    I would like to use my creative skills in the front-end of web development and be able to know the fundamentals of the back-end so I can make their job easier. Being a team player, I want to make sure everyone is doing their part so we can be the people that others become inspired by. My end goal is to become someone others can look up to as well as learn from. 
                                </div>								
                            </div>
                        </div>
                        <!-- End Accordion 3 -->

                        <!-- Start Accordion 4 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-4" class="collapsed">
                                        <i class="fa fa-angle-left control-icon"></i> Why Choose Me?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    I obtain leadership qualities such as active listening, courage, a growth mindset, and being eager to learn. My goal is to become the best developer I can be. My mindset is creative and innovative which helps to brainstorm new ideas and solve problems that I will encounter. Failure is key to success as long as you learn something from it. I am a people person and enjoy talking as well as actively listening to them.
                                </div>
                            </div>
                        </div>
                        <!-- End Accordion 4 -->

                        <!-- Start Accordion 5 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-5" class="collapsed">
                                        <i class="fa fa-angle-left control-icon"></i> Work Experience & Education
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-5" class="panel-collapse collapse">
                                <div class="panel-body">I worked at Hy-Vee from 2018 to 2022 as my first job as a courtesy clerk, cashier, stocker, and gas station clerk. I want more for myself so I left Hy-Vee on good terms to pursue a degree at Centriq Training. I had previously gratuated from MCCKC Longview in 2021 to explore different classes to get an idea of what I want to do full-time.</div>
                            </div>
                        </div>
                        <!-- End Accordion 5 -->

                    </div>
                    <!-- End Accordion section -->
                    
                </div><!--/.col-md-6 -->
                </div>
            </div>
        </section>
        <!-- End About-section 2 -->
